.profileBox{
    margin: 2rem 2rem;
}
.rowflex{
    display: flex;
}
.Phead{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.info{
    margin-left: 2rem;
    font-size: 1.25rem;
    word-break: break-all;
}
@media only screen and (max-width:1100px){
    .profileBox{
        margin: 1rem 1rem;
    }
    .info{
        font-size: 1rem;
        margin-left: 1rem;
    }
}