.profileHome{
    height: 85vh;
    width: 90vw;
    margin: auto;
    margin-top: 2rem;
    display: flex;
}
 .leftSideProfile{
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(248, 245, 245);
    margin: 10px 20px 20px 10px;
    padding: 20px 10px 20px 10px;
    box-shadow: 0 2px 5px 1px rgb(50 50 93 / 25%), 0 1px 3px -1px rgb(0 0 0 / 30%);
    border-radius: 10px;
} 
.rightSideprofile{
    width: 30%;
    right: 3vw;
    top: 20%;
    position: fixed;
    height: fit-content;
    margin: 10px 10px 0 20px;
    padding: 20px 10px 20px 10px;
    box-shadow: 0 2px 5px 1px rgb(50 50 93 / 25%), 0 1px 3px -1px rgb(0 0 0 / 30%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: rgb(248, 245, 245);  
}
@media only screen and (max-width:900px){
    .profileHome{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rightSideprofile{
        position: relative;
        right: auto;
        top: auto;
        width: 80%;
    }
    .leftSideProfile{
        width: 90%;
    }
}
@media only screen and (max-width:450px){
    .profileHome{
        align-items: center;
    }
    .rightSideprofile{
        width: 95%;
    }
    .leftSideProfile{
        width: 95%;
    }
}